.article-item {
  padding: 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  border-radius: 20px;
  transition: border 0.35s;

  &:hover {
    border-color: var(--color-primary);
  }

  &__img-box {
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 20px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  &__text {
    margin-top: 10px;
  }

  &__footer {
    margin-top: auto;
    padding-top: 20px;
  }

  &__footer-meta {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rating-stars {
    margin-left: 20px;
  }

  @media (max-width: 767px) {
    &__info {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}
