.circle {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;

  &--primary {
    background-color: var(--color-primary);
  }

  &--border {
    background-color: transparent;
    border: 1px solid #fff;
  }

  &--white-border {
    background-color: #fff;
    border: 1px solid var(--color-gray-400);
  }

  &__img {
    &--rotate-180deg {
      transform: rotate(180deg);
    }
  }
}
