.container {
  max-width: calc(var(--container-width) + var(--container-offset) * 2);
  margin: 0 auto;
  padding: 0 var(--container-offset);

  &--fluid {
    width: 100%;
    max-width: 100%;
  }

  @media (max-width: 991px) {
    &--lg {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media (max-width: 767px) {
    &--lg {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
