.credits {
  &__filters {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__filters-item {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__list {
    margin-top: -32px;
    margin-left: -32px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 32px;
    margin-left: 32px;
    width: calc(25% - 32px);
  }

  @media (max-width: 1180px) {
    &__list {
      margin-top: -20px;
      margin-left: -20px;
    }

    &__item {
      margin-top: 20px;
      margin-left: 20px;
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 767px) {
    &__item {
      width: calc(100% - 20px);
    }
  }
}
