.input {
  &__field {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    border-radius: 8px;
    outline: none;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #fff;
    transition: border 0.35s;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }

    &[type="number"] {
      appearance: textfield;
    }

    &::placeholder {
      color: var(--color-grey);
    }

    &--area {
      resize: none;
      height: 120px;
    }

    &--gray-300 {
      background-color: var(--color-gray-300);
      border-color: var(--color-gray-300);
    }

    &--rounded-2xl {
      border-radius: 50px;
    }
  }
}
