.main {
  padding-top: 107px;
  padding-bottom: 120px;
  flex: 1 1 auto;

  &__section {
    margin-top: 120px;

    &--mt-sm {
      margin-top: 80px;
    }

    &--mt-xs {
      margin-top: 60px;
    }

    &--mt-2xs {
      margin-top: 40px;
    }

    &--mt-3xs {
      margin-top: 32px;
    }
  }

  &__box {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  @media (max-width: 1180px) {
    padding-bottom: 80px;

    &__section {
      margin-top: 80px;

      &--mt-xs {
        margin-top: 45px;
      }
    }
  }

  @media (max-width: 991px) {
    padding-top: 83px;
  }

  @media (max-width: 767px) {
    padding-bottom: 45px;

    &__section {
      margin-top: 45px;

      &--mt-xs {
        margin-top: 40px;
      }

      &--mt-2xs {
        margin-top: 32px;
      }

      &--mt-3xs {
        margin-top: 32px;
      }
    }
  }
}
