.map {
  &__content {
    position: relative;
    padding-top: 43.4%;
    border-radius: 10px;
    overflow: hidden;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 767px) {
    &__content {
      padding-top: 65%;
    }
  }
}