.popup {
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 20;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &--show {
    display: flex;
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__dialog {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--top {
      padding-top: 107px;
      justify-content: flex-start;
    }
  }

  &__content {
    max-width: calc(100% - 40px);
    min-height: 0;
    transition: transform 0.4s;
  }

  @media (max-width: 767px) {
    &__dialog {
      &--top {
        padding-top: 73px;
      }
    }

    &--mobile-full &__dialog {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--mobile-full &__content {
      flex: 1 1 auto;
      width: 100%;
      border-radius: 0;
    }
  }
}
