.rating {
  &__header {
    display: flex;
    align-items: flex-start;

    &--between {
      justify-content: space-between;
    }
  }

  &__info {
    flex: 0 0 auto;
    width: 303px;
    max-width: 100%;
  }

  &__stats-lg {
    margin-left: 30px;
    flex: 0 1 632px;
  }

  &__reviews {
    margin-top: -32px;
    margin-left: -32px;
    padding-top: 72px;
    display: flex;
    flex-wrap: wrap;
  }

  &__review {
    margin-top: 32px;
    margin-left: 32px;
    width: calc(33.33% - 32px);
  }

  &__link {
    margin-top: 32px;
  }

  &__features {
    margin-left: 80px;
    flex: 0 1 460px;
  }

  &__services {
    margin-top: 60px;
  }

  &__services-title {
    margin-bottom: 20px;
  }

  &__services-main {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__services-all {
    margin-left: 20px;
    flex: 0 0 auto;
  }

  @media (max-width: 1180px) {
    &__reviews {
      padding-top: 60px;
    }
  }

  @media (max-width: 991px) {
    &__header {
      flex-direction: column;
    }

    &__stats-lg {
      margin-top: 20px;
      margin-left: 0;
      width: 100%;
      flex: none;
    }

    &__reviews {
      margin-top: -20px;
      margin-left: -20px;
      padding-top: 40px;
    }

    &__review {
      margin-top: 20px;
      margin-left: 20px;
      width: calc(50% - 20px);
    }

    &__features {
      margin-left: 0;
      margin-top: 32px;
      flex: none;
      max-width: 460px;
    }

    &__services {
      margin-top: 40px;
    }
  }

  @media (max-width: 767px) {
    &__reviews {
      padding-top: 32px;
    }

    &__review {
      width: calc(100% - 20px);
    }

    &__link {
      margin-top: 24px;
    }

    &__features {
      margin-top: 24px;
    }

    &__services {
      margin-top: 32px;
    }

    &__services-main {
      flex-direction: column;
      align-items: flex-start;
    }

    &__services-all {
      margin-left: 0;
      margin-top: 12px;
    }
  }
}
