.rating-info {
  &__value {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__value-star {
    margin-left: 8px;
  }

  &__value-text {
    margin-left: 8px;
    margin-bottom: 7px;
    align-self: flex-end;
  }

  &__text {
    margin-top: 4px;
  }

  &__details {
    margin-left: -20px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  &__detail {
    margin-left: 20px;
    margin-top: 10px;
  }

  &__detail-label {
    margin-bottom: 4px;
  }

  &__stats {
    margin-top: 20px;
  }

  &__meta {
    margin-top: -12px;
    margin-left: -12px;
    padding-top: 4px;
    display: flex;
  }

  &__meta-item {
    margin-top: 12px;
    margin-left: 12px;
  }
}