@use "../mixins" as *;

.rating-stars {
  display: flex;

  &__list {
    position: relative;
    display: inline-flex;
    align-items: center;
  }

  &--reverse &__list {
    margin-right: -4px;
  }

  &__item {
    display: inline-block;
    @include icon("../img/icons/star-orange-border.svg", 15px, 15px);

    &:not(:first-child) {
      margin-left: 4px;
    }

    &--xl {
      width: 24px;
      height: 24px;
    }
  }

  &--reverse &__item {
    &:not(:first-child) {
      margin-left: 0;
    }

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__active {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &--reverse &__active {
    left: unset;
    right: 0;
  }

  &__active &__item {
    background-image: url("../img/icons/star-orange.svg");
  }
}
