.section {
  overflow: hidden;

  &__title {
    margin-bottom: 32px;
  }

  &__footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--column {
      flex-direction: column;
    }
  }

  &__footer-pagination {
    max-width: 100%;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  @media (max-width: 767px) {
    &__title {
      margin-bottom: 24px;
    }

    &__footer {
      margin-top: 24px;
    }
  }
}
