.tag {
  &,
  &__switch {
    padding: 8px 20px;
    display: inline-flex;
    background-color: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--color-gray-400);
    user-select: none;
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &--switcher {
    padding: 0;
    border: none;
  }

  &--active,
  &.tabs-btns__btn--active,
  &__input:checked ~ &__switch {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary);
  }

  @media (max-width: 767px) {
    &,
    &__switch {
      padding: 6px 16px;
      font-size: 14px;
    }

    &--switcher {
      padding: 0;
    }
  }
}
