:root {
  --container-width:            1140px;
  --container-offset:           20px;

  --color-primary:              #82bf00;
  --color-primary--rgb:         130, 191, 0;
  --color-white:                #ffffff;
  --color-white--rgb:           255, 255, 255;
  --color-black:                #2d2d2d;
  --color-black--rgb:           45, 45, 45;
  --color-gray-200:             #f2f6f7;
  --color-gray-200--rgb:        242, 246, 247;
  --color-gray-300:             #e7e7e7;
  --color-gray-300--rgb:        231, 231, 231;
  --color-gray-400:             #d3d3d3;
  --color-gray-400--rgb:        211, 211, 211;
}
